body{
    background-color: #343a40;
}

.chart-container {
    max-width: 600px; /* Maximalbreite des Containers */
    width: 100%; /* Breite relativ zum übergeordneten Element */
    height: auto; /* Automatische Höhe */
    margin: auto; /* Zentriert den Container */
}

#mapid {
    height: 1200px;
    width: 1200px;
    margin: auto;
}

.button-container {
    position: fixed; /* Fixierte Position */
    bottom: 0; /* Am unteren Rand des Bildschirms */
    left: 0; /* Links ausgerichtet */
    width: 100%; /* Volle Breite */
    text-align: center; /* Zentriert den Inhalt */
    padding: 20px 0; /* Polsterung oben und unten */
    background-color: #242b2c; /* Hintergrundfarbe */
}

.round-button {
    background-color: #343a40; /* Dunkles Grau-Anthrazit */
    color: white; /* Weiße Schriftfarbe */
    border: none; /* Kein Rand */
    border-radius: 50%; /* Runde Form */
    padding: 10px 20px; /* Innenabstand */
    text-align: center; /* Zentrierter Text */
    text-decoration: none; /* Keine Textdekoration */
    display: inline-block; /* Nebeneinander statt untereinander */
    font-size: 16px; /* Schriftgröße */
    margin: 4px 2px; /* Außenabstand */
    cursor: pointer; /* Cursor als Zeiger */
    transition: background-color 0.3s; /* Weiche Farbübergänge */
}

.round-button:hover {
    background-color: #505860; /* Dunklere Farbe beim Hover */
}