/* style.css */

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

#member{
    text-align: center;
}

#anmelden{
    text-align: center;
}

p {
    margin: 10px 0;
}

input[type="text"], input[type="checkbox"] {
    margin-bottom: 15px;
    width: 300px; /* Adjust width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: start
}

input[type="checkbox"] {
    width: auto; /* Reset width for checkbox */
}

div a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

div a:hover {
    background-color: #0056b3;
}

.input-field {
    width: 345px; /* Width of the input field */
    height: 48px; /* Height of the input field */
    padding: 10px 16px; /* Padding inside the input field */
    background: white; /* Background color */
    border-radius: 20px; /* Rounded corners */
    border: 1px solid rgba(0, 0, 0, 0.40); /* Border color and thickness */
    font-size: 14px; /* Font size */
    font-family: Manrope; /* Font family */
    font-weight: 700; /* Font weight */
    color: rgba(0, 0, 0, 0.40); /* Text color */
    box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

.input-field::placeholder {
    color: rgba(0, 0, 0, 0.40); /* Placeholder text color */
    font-size: 14px; /* Placeholder font size */
    font-family: Manrope; /* Placeholder font family */
    font-weight: 700; /* Placeholder font weight */
}
