<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
  <p id="x">X</p>
  <script>
    /**
     * Asynchronous function to retrieve accelerometer data.
     *
     * @throws {Error} If the accelerometer is not supported in the browser.
     * @returns {Promise<Array<number>>} A promise that resolves with an array containing acceleration values [x, y, z].
     */
    async function getAcceleration() {
        if ('Accelerometer' in window) {
            let sensor = new Accelerometer();
            sensor.start();

            let answerReceived = false;

            const timeoutPromise = new Promise((resolve) => {
                setTimeout(() => {
                    if (!answerReceived) {
                        x.innerHTML = 'No answer received within the specified time.';
                        resolve([1, 2, 3]);  // Resolve with default values
                    }
                }, 5000);  // Adjust the timeout duration (in milliseconds) as needed
            });

            const dataPromise = new Promise(resolve => {
                sensor.onreading = () => {
                    answerReceived = true;

                    if (typeof sensor.x !== 'undefined' &&
                        typeof sensor.y !== 'undefined' &&
                        typeof sensor.z !== 'undefined') {
                        resolve([sensor.x, sensor.y, sensor.z]);
                    } else {
                        x.innerHTML = 'Acceleration values are undefined.';
                        resolve([1, 2, 3]);  
                    }
                };
            });

            // Wait for either the data or the timeout to resolve the promise
            return Promise.race([dataPromise, timeoutPromise]);
        } else {
            throw new Error('Accelerometer not supported in this browser.');
        }
    }

    /**
     * Asynchronous function to retrieve the user's geolocation.
     *
     * @throws {Error} If geolocation permission is denied or an error occurs during location retrieval.
     * @returns {Promise<Array<number>>} A promise that resolves with an array containing latitude and longitude [latitude, longitude].
     */
    async function getLocation() {
        try {
            const permissionStatus = await navigator.permissions.query({ name: 'geolocation' });

            if (permissionStatus.state === 'granted') {
                const position = await new Promise((resolve, reject) => {
                    navigator.geolocation.getCurrentPosition(
                        resolve,
                        error => reject(error)
                    );
                });

                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;
                return [latitude, longitude];
            } else {
                throw new Error('Geolocation permission denied.');
            }
        } catch (error) {
            throw new Error('Error getting location: ' + error.message);
        }
    }

    /**
     * jQuery document-ready block to handle asynchronous operations on page load.
     */
    $(document).ready(async function() {
        try {
            const locations = await getLocation();
            const accelerations = await getAcceleration();

            if (accelerations.error)
                x.innerHTML = accelerations.error;

            const data = await $.ajax({
                url: '{% url "index" %}',
                method: 'POST',
                data: JSON.stringify({
                    'latitude': locations[0],
                    'longitude': locations[1],
                    "x_acceleration": accelerations[0],
                    "y_acceleration": accelerations[1],
                    "z_acceleration": accelerations[2]
                }),
                contentType: 'application/json',
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}"
                },
            });
            console.log(data)
            x.innerHTML = "LAT: " + data["latitude"] + " LNG: " + data["longitude"] + " xa: " + data["x_acceleration"] + " ya " + data["y_acceleration"] + " za: " + data["z_acceleration"];
        } catch (error) {
            x.innerHTML = error.message;
        }
    });
  </script>
</body>
</html>
